target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/ywz-ai-agent-station-study-app/.local-config
/ywz-ai-agent-station-study-app/src/main/resources/dev-config.yml
/ywz-ai-agent-station-study-app/data/
/data/
/browser-state-0-fingerprint.json
/browser-state-0.json
/browser-state-1-fingerprint.json
/browser-state-1.json
/browser-state-2.json
/browser-state-2-fingerprint.json
/browser-state-3.json
/browser-state-3-fingerprint.json
/browser-state-4.json
/browser-state-4-fingerprint.json
/docs/tag-v1.0/
