<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywzai.infrastructure.dao.IAiAgentFlowConfigDao">

    <resultMap id="AiAgentFlowConfigMap" type="com.ywzai.infrastructure.dao.po.AiAgentFlowConfig">
        <id column="id" property="id"/>
        <result column="agent_id" property="agentId"/>
        <result column="client_id" property="clientId"/>
        <result column="sequence" property="sequence"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.ywzai.infrastructure.dao.po.AiAgentFlowConfig">
        INSERT INTO ai_agent_flow_config(agent_id, client_id, sequence, create_time)
        VALUES(#{agentId}, #{clientId}, #{sequence}, NOW())
    </insert>


    <select id="queryByAgentId" parameterType="java.lang.Long" resultMap="AiAgentFlowConfigMap">
        SELECT id, agent_id, client_id, sequence,  create_time, update_time
        FROM ai_agent_flow_config
        WHERE agent_id = #{agentId}
        ORDER BY sequence ASC
    </select>

    <select id="queryByAgentIdAndClientId" resultMap="AiAgentFlowConfigMap">
        SELECT id, agent_id, client_id, sequence, create_time, update_time
        FROM ai_agent_flow_config
        WHERE agent_id = #{agentId} AND client_id = #{clientId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM ai_agent_flow_config WHERE id = #{id}
    </delete>

</mapper>