<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywzai.infrastructure.dao.IAiClientConfigDao">

    <resultMap id="AiClientConfigMap" type="com.ywzai.infrastructure.dao.po.AiClientConfig">
        <id column="id" property="id"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="target_type" property="targetType"/>
        <result column="target_id" property="targetId"/>
        <result column="ext_param" property="extParam"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.ywzai.infrastructure.dao.po.AiClientConfig">
        INSERT INTO ai_client_config(source_type, source_id, target_type, target_id, ext_param, status, create_time, update_time)
        VALUES(#{sourceType}, #{sourceId}, #{targetType}, #{targetId}, #{extParam}, #{status}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.ywzai.infrastructure.dao.po.AiClientConfig">
        UPDATE ai_client_config SET
            source_type = #{sourceType},
            source_id = #{sourceId},
            target_type = #{targetType},
            target_id = #{targetId},
            ext_param = #{extParam},
            status = #{status},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="queryBySourceId" parameterType="java.lang.String" resultMap="AiClientConfigMap">
        SELECT id, source_type, source_id, target_type, target_id, ext_param, status, create_time, update_time
        FROM ai_client_config
        WHERE source_id = #{sourceId}
        ORDER BY create_time DESC
    </select>

    <select id="queryBySourceTypeAndId" resultMap="AiClientConfigMap">
        SELECT id, source_type, source_id, target_type, target_id, ext_param, status, create_time, update_time
        FROM ai_client_config
        WHERE source_type = #{sourceType} AND source_id = #{sourceId}
        ORDER BY create_time DESC
    </select>

    <select id="queryByTargetTypeAndId" resultMap="AiClientConfigMap">
        SELECT id, source_type, source_id, target_type, target_id, ext_param, status, create_time, update_time
        FROM ai_client_config
        WHERE target_type = #{targetType} AND target_id = #{targetId}
        ORDER BY create_time DESC
    </select>
    <select id="queryModelIdByClientId" resultType="java.lang.String">
        select target_id
        from ai_client_config
        where source_id = #{clientId} and source_type = 'client' and target_type = 'model' and status = 1
    </select>
    <select id="queryPromptIdsByClientId" resultType="java.lang.String">
        select target_id
        from ai_client_config
        where source_id = #{clientId} and source_type = 'client' and target_type = 'prompt' and status = 1
    </select>
    <select id="queryAdvisorsByClientId" resultType="java.lang.String">
        select target_id
        from ai_client_config
        where source_id = #{clientId} and source_type = 'client' and target_type = 'advisor' and status = 1
    </select>


    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM ai_client_config WHERE id = #{id}
    </delete>

</mapper>